.grid {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  grid-template-columns: repeat(15, 1fr);
  gap: 1rem;
  align-items: end;
  padding-inline: 2rem;
  overflow-x: scroll;
}

.box {
  display: block;
  width: calc((100vw - 14rem) / 15);
  aspect-ratio: 1/1;
  grid-row: 1;
  background: #333;
  transition: grid-column 0.5s ease;
}

.scaleUp {
  grid-column: span 2;
  width: calc((100vw - 14rem) / 7.5);
  background: #555;
}
